<div class="form-container">
<form class="login-form">
  <h2>Login In</h2>
  <div>
    {{!-- <label for="email-login">email:</label> --}}
    <input type="text" id="email-login" placeholder="Email" style="font-style: italic;"/>
  </div>
  <div>
    {{!-- <label for="password-login">password:</label> --}}
    <input type="password" id="password-login" placeholder="Password" style="font-style: italic;" />
  </div>
  <div>
    <button class="btn" id="login-btn" type="submit">login <i class="fa-solid fa-right-to-bracket"></i></button>
  </div>
  <p> Dont have an account? <a href="/signup"> Sign up</a></p>
</form>

</div>
<script src="/javascript/login.js"></script>