<div class="form-container">
<form class="signup-form">
  <div>
    <h3 id="create-account">Create an account</h3>
  
    {{!-- <label for="username-signup">username:</label> --}}
    <input type="text" id="username-signup" placeholder="Username" style="font-style: italic;"/>
  </div>
  <div>
    {{!-- <label for="email-signup">email:</label> --}}
    <input type="text" id="email-signup" placeholder="Email" style="font-style: italic;"/>
  </div>
  <div>
    {{!-- <label for="password-signup">password:</label> --}}
    <input type="password" id="password-signup" placeholder="Password" style="font-style: italic;"/>
  </div>
  <div>
    <button class="btn" id="signup-btn" type="submit">signup </button>
  </div>
</form>
</div>
<script src="/javascript/signup.js"></script>