{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
   <a id="fb-icon" onclick="Share.facebook('URL','TITLE','IMG_PATH','DESC')"><i class="fa-brands fa-facebook"></i></i></a>
<a id="twitter-icon" onclick="Share.twitter('URL','TITLE')"><i class="fa-brands fa-twitter"></i></i></a>

<a href="http://www.facebook.com/sharer/sharer.php?s=100&
p%5Btitle%5D=TITLE&p%5Bsummary%5D=DESC&p%5Burl%5D=
URL&p%5Bimages%5D%5B0%5D=IMG_PATH" target="_blank" onclick="return Share.me(this);"></a>
<a href="https://twitter.com/intent/tweet?original_referer=
http%3A%2F%2Ffiddle.jshell.net%2F_display%2F&text=TITLE&url
=URL" target="_blank" onclick="return Share.me(this)"></a>
  <div>
    <textarea name="comment-body" id="comment-body" style="margin-top: 3%;"></textarea>
  </div>

  <div>
    <button id="add-comment" class="btn" type="submit">add comment</button>
  </div>

  {{!-- share added 04/25 --}}
 
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/sharing.js"></script>
<script src="/javascript/comment.js"></script>
{{/if}}