:root {
  --primary-color: #ff643d;
  --secondary-color: #d41414;
  --tertiary-color: #caf0f8;
}

* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
  }
  header a {
    background: var(--primary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
  }
  header nav a{
    font-size: 2.5vh;
  }
  div a {
    color: black;
  }
  a {
    text-decoration: none; 
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: var(--secondary-color);
  }
  span{
    padding-top: 2%;
    padding-bottom: 2%;
  }
  span:hover{
    text-decoration: none;
  }
  
  .btn {
    background: -webkit-linear-gradient(orange , red );
    border: 0;
    padding: .5%;
    padding-left: 3%;
    padding-right: 3%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
   align-items: center;
   justify-content: center;
  }
  #logout{
    background: var(--primary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:'Fjalla One', sans-serif;
    font-size: 2.00vh;
  }
 
  .btn:hover {
    background-color: #3486eb;
    opacity: 50%;
  }
  
  .post-list {
    margin: 0;
    padding: 0;
  }
  
  textarea, input {
    
    padding: .5%;
  
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 2px solid #3486eb;
    
  }
  #email-login, #password-login, #username-signup, #email-signup, #password-signup{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: lightgrey solid 2px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-size: 3.00vh;
  }
  #login-btn, #signup-btn{
    width: 100%;
    padding-top: 2%;
    margin-top: 5.5%;
    padding-bottom: 2%;
    font-size: 3.00vh;
    border-radius: 5%;
  }
 

  #comment-body{
    width: 50%;
  }
  textarea {
    min-width: 35%;
    min-height: 120px;
    margin-top: 1%;
    display: flex;
    border: 2px solid #505050;
    border-radius: 5%
  }
  textarea, input{
    display: flex;
    border: 2px solid #505050;
    border-radius: 5%;
    min-width: 35%;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
   
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: white;
    -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  }
  
  header h1 {
    font-size: 1em;
  }
  header img{
    margin-left: 5%;
  }
  section h2, .thanks-message{
    font-family:'Fjalla One', sans-serif;
  }
  main {
    flex: 1;
    padding: 2% 4%;
    align-content: center;
  }
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #3486eb;
  }
  
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .post .title span {
    font-style: normal;
    font-size: 80%;
    color: #7d7d7d;
    font-weight: normal;
    font-family:'Fjalla One', sans-serif;
  }
  #post-title{
    width: 35%;
  }
  #post-title,a {
    font-family:'Fjalla One', sans-serif;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  #twitter-icon{
    font-size: 18px;
  }
  #twitter-icon:hover{
    font-size: 21px;
    transition: .4s;
  }
  #fb-icon{
    font-size: 18px;
    margin-right: .8%;
  }
  #fb-icon:hover{
    font-size: 21px;
    transition: .4s;
    
  }
  /* .upvote-btn {
    background-color: #197d0f;
    transition: background-color .1s;
  }
  
  .upvote-btn:hover {
    background-color: #1f9c13;
  } */

  /* STYLE FOR BUTTON */
  .custom-file-upload {
    border: none;
    display: inline-block;
    padding: 1px 5px;
   
    /* margin-bottom: 1%; */
    cursor: pointer;
    font-weight: bolder;
}
input[type="file"] {
  display: none;
}
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #ccc;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    margin-top: .5%;
    opacity: .6;
  }

  #comment-text{
    margin-top: 3%;
  }
  
  .new-post-form input {
    width: 35%;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }
 
  article{
    border-top:lightgrey solid 2.00px;
    padding-top: 5%;
    border-spacing: 3px;
    border-image: linear-gradient(to right, #282828 , darkorange) 1;
    
  }
  .form-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .login-form, .signup-form{
    margin-bottom: 10%;
    margin-top: 5%;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5% 5% 10% 5%;
    border-radius: 5%;
  }

  .login-form > h2{
    font-family:'Fjalla One', sans-serif;
    text-align: center;
    font-size: 5.00vh;
  }

 #create-account{
    font-family:'Fjalla One', sans-serif;
    text-align: center;
    font-size: 4.00vh;
  }


  #urlbox{
    margin-bottom: 1%;
  }
  #url-title, #post-title{
    font-family:'Fjalla One', sans-serif;
    width: 35%;
    border: 1.5px solid #505050;
    border-radius: 5%;
  }
  #post-text{
    font-family:'Fjalla One', sans-serif;
    border: 1.5px solid #505050;
    border-radius: 5%;
  }
#postbtn{
  margin-top: 1%;
}
.new-post-form input{
  border: 1.5px solid #505050;
  border-radius: 5%;;
}
#back-to-dashboard{
  padding-top: 2% 1%;
}
.image_size{
  width: 100%;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#output{
  width:100%;
 object-fit: cover;
}
#image-text{
  padding-top: 2%;
}
#add-comment {
  width: 35%;
}
#delete-post-btn {
  margin-top: 1%;
  width: 35%;
}
  /* mobile responsiveness */
  @media screen and (max-width: 850px) {
    .image_size{
      width: 100%;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #delete-post-btn{
      width: 100%;
    }
  
    .wrapper{
      max-width:100%;
    }
    .title{
      width:100%;
    }
   textarea, input{
     min-width:100%;
     margin-bottom: 2%;
   }
  
   #add-comment{
     width: 100%;
     padding: 2% 2%;
   }
   span{
     width: 100%;
   }
   header nav a{
     font-size: 2.00vh;
   }
   /* .imgdiv{
     height: 300px;
   } */
   #postbtn{
     width: 100%;
     padding: 1.5% 1.5%;
     
     border-radius: 5%;
   }
   .new-post-form input{
     width: 100%;
   }
   #url-title, #post-title{
     padding:5px;
     width:100%;
     margin-bottom: 3%;
   }
   .post-username {
     color: lightseagreen;
   }
   label#add-photo {
    width: 100%;
    font-size: 2.5VH;
    DISPLAY: flex;
    JUSTIFY-ITEMS: center;
    JUSTIFY-CONTENT: CENTER;
   }
   .fa-upload{
     padding-left: 5px;
     font-size: 2.00vh;
   }
   .login-form, .signup-form{
     width: 100%;
   }
  }
  @media screen and (min-width: 1980px) {
    .image_size{
      width: 100%;
      height: 900px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #output{
      width: 80%;
    }
  }